@using MazeCS
@using Microsoft.AspNetCore.Components.Web
@implements IGridDisplay
@implements IController

<div class="maze" tabindex="0" @onkeydown="OnKeyDown">
    <div class="maze-content">
        @for (int y = 0; y < grid.Count; y++)
        {
            <div class="maze-row">
                @for (int x = 0; x < grid[y].Count; x++)
                {
                    <div class="maze-cell @GetCellClasses(x, y)"></div>
                }
            </div>
        }
        <div class="maze-bottom"></div>
    </div>
</div>

@code {
    [Parameter]
    public required Maze Maze { get; set; }

    [Parameter]
    public required Player Player { get; set; }

    private List<List<string>> grid = new();
    private Vec2d? playerPos = null;
    private string _lastKey = "";

    protected override void OnParametersSet()
    {
        Redraw();
    }

    private void Redraw()
    {
        grid = new();
        playerPos = null;
        Maze.Draw(this);
        Player.Draw(this);
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (!Player.IsPlaying) return;

        _lastKey = e.Key;
        Player.Move(this, out _);
        Redraw();
        _lastKey = "";
    }

    void IGridDisplay.DrawGridCell(Vec2d pos, string content, ConsoleColor _)
    {
        if (content == Player.PlayerSymbol)
        {
            playerPos = pos;
            return;
        }

        while (grid.Count <= pos.Y)
            grid.Add(new List<string>());

        while (grid[pos.Y].Count <= pos.X)
            grid[pos.Y].Add("");

        grid[pos.Y][pos.X] = GetCssClass(content);
    }

    private string GetCssClass(string content) => content switch
    {
        Cell.WallSymbol => "wall",
        Cell.RoomWithItemsSymbol => "items",
        Cell.ClosedDoorSymbol => "door",
        Cell.OpenedDoorSymbol => "open",
        Cell.ExitSymbol => "exit",
        _ => "room"
    };

    private string GetCellClasses(int x, int y)
    {
        var css = grid[y][x];
        if (playerPos != null && playerPos.X == x && playerPos.Y == y)
            css = "player " + css;
        return css;
    }

    Vec2d IController.DirectionPressed => _lastKey switch
    {
        "q" or "Q" or "ArrowLeft"  => Vec2d.West,
        "d" or "D" or "ArrowRight" => Vec2d.East,
        "z" or "Z" or "ArrowUp"    => Vec2d.North,
        "s" or "S" or "ArrowDown"  => Vec2d.South,
        _ => new Vec2d(0, 0)
    };

    bool IController.IsCollectPressed => _lastKey == " ";
    bool IController.IsEscapePressed => _lastKey == "Escape";
}
